body {
    font-family: sans-serif;
}
 header {
    background-color: green;
    padding: 10px;
    border: 5px solid black ;
}
h1 {
    text-align:center;
}
footer {
    background-color:green;
    padding: 5px;
    border: 5px solid black ;
}

